
body {
    margin: 0;
    padding: 0;
  }
  
.container0{
    display:grid;
    grid-template-rows: 80px 800px 80px;
    grid-template-columns:  1fr 1fr 1fr 1fr 1fr 1fr;
    margin: 0;
}
  
.header{
    grid-row: 1;
    grid-column: 1/7;
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    font-family: sans-serif;
    background-color: gray;
    align-items: center;
}
.website_header{
    grid-row: 1;
    grid-column: 1;
    background-color: aqua;
}

#side_bar{
    grid-row: 2;
    grid-column: 1;

    background-color: darkgrey;
}

.footer{
    grid-row:3;
    grid-column:1/7;
    background-color: gray;
    text-align: center;
}