.btn{
  width: 320px;
  height: 150px;
  margin-top: 100px;
  margin-left: 250px;
  font-size: 50px;
  font-weight: bold;

  background-color: darkcyan;
  border-radius: 15px;
  border: 8px solid darkgreen;
  box-shadow: 10px 10px 0 rgba(255, 0, 0, 0.5);

  cursor:pointer;
}

.btn:active{
  background-color: hsl(180, 100%, 20%);
  transform: translateY(10px);
}