<!DOCTYPE html>
<html>
    <head>
    <title>Flask JSX Function Example</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
    <script type="text/babel" src="{{ url_for('static', filename='javascript/app.jsx') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    </head>
    
    <body>
        <div class="container0">
            <div class = "header">
                <img src="{{ url_for('static', filename='images/sklad-icon2.png') }}" alt="Description of the image">
                <h1>Складисиум</h1>
                <form action="{{ url_for('home') }}" method="get">
                    <input type="hidden" name="redirect" value="true">
                    <button type="submit">Главная</button>
                </form>    
                <form class='logout_button'method="post" action="/logout">
                    <button type="submit">Выход</button>
                </form>
            </div>
            <div class="side-bar">
                {% for function in session['functions'] %}
                   {% set function_id = function["id"] %}
                   {% set function_name = function["name"] %}
                   <button onClick="loadJSXFunction('{{ function_id }}')">{{ function_name }}</button>
               {% endfor %}
            </div>
            <div id="jsx-container"></div>
        </div>
    </body>
</html>